*{
  font-family:Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: BebasNeue;
  src: url('../fonts/bebasneue-bold-webfont.woff');
}

h1 {
  font-family: BebasNeue;
  font-size:40px;
  padding: 0;
}

h2 {
  font-family: BebasNeue;
  display: inline;
  color: white;
  font-weight: bold;
  font-size:30px;
}
body {
  margin: 0px;
}
.topnav {
  font-family: BebasNeue;
  background-color: #F7882F;
  overflow: hidden;
  width: 100%;
  height: 30px;
  font-weight: bold;
  margin:0px;
}

.topnav a {
  float: left;
  color: #ffffff;
  font-family: BebasNeue;
  font-weight: bold;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  text-decoration: none;
  font-size: 18px;
}

.alert {
  background-color: rgba(214, 39, 39, 0.438);
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}

a.active {
  padding-top:3px;
  font-size: 25px;
}

.topnav a:hover {
  background-color:  rgb(224, 126, 46);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#mapid { 
  height: 850px;
}

#map-title {
  padding-top: 60px;
  text-align: center;
}

.row {
  text-align: center
}

.col-md-3 {
  display: inline-block;
}

input[type=text] {
  border-radius: 10px;
  width: 200px;
  height: 30px;
  display: inline-block;
}

.button {
  -webkit-transition-duration: 0.4s;  
  transition-duration: 0.4s;
  background-color: #F7C331;  
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  height: 30px;
  border-radius: 10px;
}

.search-slt{
  display: block;
  width: 100%;
  line-height: 1.5;
  border: 1px solid #ccc;
  height: 30px;
  border-radius: 5px;
}

/* .wrn-btn{
  width: 100%;
  border: 1px solid #ccc;
  border-radius:5px;
} */

.button:hover {
  background-color: rgb(85, 18, 6);  
  color: white;
}


.headerImage {
  background-image: url("../img/banner.jpg");
  margin-bottom: -10px;
  padding-bottom: 15px;
  width: 100%;
  padding-left:0px;
}

.listCard {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 2em;
  width: 100%;
  break-inside: avoid;
  border-radius: 8px;
  transition: opacity .4s ease-in-out;

}
.listCard h3 {
  color: black;
  padding: 0;
  margin-bottom: 0px;
  text-align: center;
  
} 
#list .listCard h3 {
  margin-top: 5px;
}

.listCard img {
  width: 380px; height:auto;
  padding-bottom: 4px;
  border-radius: 4px;
  margin-top:0;
  padding-top:0px;
  display: block;
  margin-left: auto;
  margin-top: -10px;
  margin-right: auto;
}

.listCard p {
  padding-left: 1em;
  padding-right: 1em;
}

#articles .listCard p {
  font-size: 1rem;
  color: rgb(128, 127, 127);
  line-height: 1.5;
  text-align: center;
}



.listCard a {
  padding: 1em;
  max-width:200px;
  word-wrap:break-word;
  text-align: center;
}


#articles {
  column-gap: 2em;
}



.ArticleTitle {
  text-align: center;
  background-color: #F7882F;
  border-radius: 10px;
  color: white;
  display: none;
}

#articles h3 {
  color: black;
  padding: 0;
  margin-bottom: 0px;
  text-align: center;
}

#list p {
  max-width:850px;
  word-wrap:break-word;
}

#articles a {
  text-decoration: none;
}

#articles:hover .listCard:not(:hover) {
  opacity: 0.6;
}

@media only screen and (min-width: 1600px) {
  #list {
    columns:3;
  }
}

@media only screen and (max-width: 1599px) and (min-width:1200px) {
  #list {
    columns: 2;
  }
}


@media only screen and (min-width: 1600px) {
  #articles {
    columns:4;
  }
}

@media only screen and (max-width: 1599px) and (min-width:1200px) {
  #articles {
    columns: 3;
  }
}

@media only screen and (max-width: 1199px) and (min-width:768px) {
  #articles {
    columns: 2;
  }
}

